.table{
  justify-content:'space-between';
  display:flex;
  flex-direction:row;
  height: 90vh;
  width: 90vw;
  padding:2%
}

.table2 {
  display: flex;
  flex-direction: column;
  height: 90vh; /* Ensure it takes full viewport height */
  justify-content: space-between; /* Distribute space between top, middle, bottom */
}

.card-area {
  display: flex;
  flex-direction: row; 
  align-items: center; /* Center cards horizontally */
  justify-content: center;
  position: relative;
}

.card-area img {
  width: 50px ; /* Set the desired card width */
  height: auto; /* Maintain aspect ratio */
  margin-right: -25px ; /* Adjust the overlap distance */
}

.player-area { /* Assuming this is the class for the bottom area */
  position: relative;
}

.player-area img {
  width: 80px !important; /* Set the desired card width */
  height: auto; /* Maintain aspect ratio */
  margin-right: -40px !important; /* Adjust the overlap distance */
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}
.player-area img.selected {
  transform: translateY(-20px); /* Adjust the vertical offset as needed */
}
.player-area img:hover { /* Optional: visual indication on hover */
  cursor: pointer;
}

.last{
  display: flex;
  flex-direction: row; 
  align-items: center; /* Center cards horizontally */
  justify-content: center;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(270deg);
}

