.table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Allow wrapping if needed */
  justify-content: space-around; /* Distribute evenly with margins */
}

.card-area {
  display: flex;
  flex-direction: column; /* Column for left and right areas */
  align-items: center; /* Center cards horizontally */
  margin: 10px; /* Adjust margins as desired */
}

.player-area {
  flex-direction: row; /* Row for top and bottom areas */
  justify-content: space-around; /* Distribute cards horizontally */
}